@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}
.d-flex{
  display: flex;
} 
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #0089d0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.reklama-top_banner{
  display: flex;
  justify-content: center;
}


.header__all {
  display: flex;
  justify-content: space-between;
}
.header .logo {
  display: inline-block;
  margin-bottom: 22px;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__items {
  display: flex;
}
.header__link {
  margin-right: 35px;
  color: #fff;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  line-height: 40px;
  font-size: 14px;
  font-weight: 400;
}
.header__link:hover{
  color: #fff;
  border-bottom: solid 1px #fff;
}
.header__left-searchBtn {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 37px;
  height: 40px;
}
.header__left-orengaLogo{
  margin-right: 15px;
}
.header__left-telegramLogo{
  margin-right: 15px;
}
.header__left-searchBtn{
  margin-left: 25px;
}
.all__detalies {
  margin-top: -136px;
}
.menu-btn{
  display: none;
}
.navbar{
  position: fixed;
}
.section__rekImages{
  margin: auto;
}
.social__details {
  margin-top: 12px !important;
}



/* Reaponsiveni togirlash kerak desktop */



.rekImages{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 58px;
  border: 1px solid rgb(212, 210, 210);
}

.social{
  margin-top: 161px;
}

.social__details{
  font-size: 14px;
  gap: 16px;
  margin-top: -100px;
}

.all__detalies{
  gap: 5px; 
  padding: 5px 0;
}

.language{
  font-size: 15px;
}

.gradusEndRegions{
  display: flex;
  flex-direction: column;
}

.region{
  background: transparent;
  width: 81px;
  border: none;
  outline: none;
  border-bottom: dashed 1px #bab2b2;
  color: #bab2b2;
}
.region:hover{
  border-bottom: none;
}

.valyutaUSD::after{
  background: url(./img/arrow.png) no-repeat;
}
.social__net{
  position: relative;
  display: inline-block;
  width: 156px;
  height: 48px;
  border: 1px solid #e8e9ea;
  margin: 0 16px 0 0;
  padding: 5px 5px 5px 47px;
  color: #000;
  text-decoration: none;
  line-height: 1.2;
  outline: none !important;
  cursor: pointer;
  border-radius: 5px;
}
.social__net-logo{
  position: absolute;
  left: 9px;
  top: 9px;
}

.social__download{
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
  display: block;
}

.social__name{
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  cursor: pointer;
}

.sidebar{
  width: 100%;
  background-color: #f5f5f5;
  margin-top: 25px;
}

.sidebar__edge{
  width: 25%;
  flex-direction: column;
}

.edge__news-one{
  width: 271px;
  margin-top: 8px;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.edge__news-one::after{
  width: 271px;
  height: 2px;
  background-color: #000;
}

.edge__news-one:hover{
  color: #000;
  text-decoration:underline;
}

.edge__detailes{
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.edge__detailes a{
  color: #0070e0;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42857143;
}

.edge__detailes a:hover{
  text-decoration: underline;
}

.edge__detailes p {
  display: inline-block;
  color: #7a848b;
  font-size: 12px;
  margin-bottom: 0;
}

.edge__detailes i{
  color: #7a848b;
  font-size: 12px;
}
.edge__detailes span{
  line-height: 1.42857143;
  font-size: 12px;
  color: #7a848b;
  margin-left: -11px;
  margin-top: -2px;
}

.edge__title{
  color: #0070e0;
  background-color: transparent;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  text-decoration: none;
  margin-top: 20px;
}

.sidebar__middle{
  width: 50%;
}

hr{
  margin: 0;
}

.middle__content{
  margin-top: 10px;
  margin-left: 20px;
}

.region{
  transition: 1s ease;
}
.region option{
  background: rgb(197, 195, 195);
  color: #000;
  border: none;
}

.middle__title{
  width: 100%;
  font-size: 23px;
  display: block;
  color: #000;
  font-family: 'PT Serif', serif;
  text-decoration: none;
}
.middle__title:hover{
  opacity: 2;
  box-shadow: 1xp 2px 3px grey;
}
.middle__title-bottom{
  line-height: 1.42857143;
  margin-top: 10px;
}
.openMenu{
  font-size: 1.5rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
.closeMenu{
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
.newpaper{
  background-color: #f5f5f5;
  margin-top: 40px;
  margin-bottom: 60px;
}
.newspaper-header{
  display: flex;
  padding-top: 40px;
  padding-left: 30px;
}
.newapaper-title{
  font-size: 20px;
  margin-top: 40px;
}
.newspaper-titleParag{
  flex-direction: column;
  margin-left: 25px;
}
.newspaper-header_title{
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}
.newspaper-titleParag p{
  font-size: 16px;
  text-decoration: none;
  color: #000;
  font-family: 'Merriweather', serif;
}
.newspaper-line{
  margin-top: 39px;
}
.all-newspaper{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.news-link{
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}
.news-link:hover{
  color: #000;
  text-decoration: underline;
}
.all-news_one{
  width: 240px;
  padding-bottom: 20px;
}
.news-reklama{
  display: flex;
  justify-content: center;
}
.news-reklama img{
  cursor: pointer;
  border: solid 1px rgb(230, 226, 226);
}
.aktual{
  display: flex;
  margin-top: 50px;
}
.aktual-one{
  position: relative;
}
.aktual-one_img{
  background-size: cover;
  object-fit: cover;
}
.aktual-one_title{
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
}
.aktual-one_title:hover{
  opacity: 2;
  box-shadow: 1xp 2px 3px grey;
}
.aktual-one_link{
  position: absolute;
  width: 90%;
}
.aktual-two_img{
  border-radius: 50%;
  margin-left: 50px;
}
.aktual-two_bottomImg{
  position: absolute;
  background: transparent;
  left: 693px;
  margin-top: 87px;
}
.aktual-two-details{
  margin-left: 26px;
}
.aktual-two_text{
  font-size: 18px;
  width: 271px;
  margin-left: 25px;
  margin-top: 8px;
  font-weight: 500;
}
.aktual-two-text_link{
  text-decoration: none;
  color: #000;
  font-family: 'Merriweather', serif;

}
.aktual-two-text_link:hover{
  color: #000;
  text-decoration: underline;
}
.interyuText{
  padding: 20px 24px;
  border: 1px solid #e8e9ea;
  font-size: 15px;
  position: relative;
  background: #fff;
  margin-top: 20px !important;
}
.interyuText::before{
  width: 0;
  height: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 18px solid #e8e9ea;
  content: "";
  position: absolute;
  left: 18px;
  top: -17px;
}
.interyuText::after{
  width: 0;
  height: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 18px solid #fff;
  content: "";
  position: absolute;
  left: 18px;
  top: -15px;
}
.aktual-three{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px 10px;
  margin-left: 20px;
}
.aktual-three_title{
  font-size: 20px;
  line-height: 1.2;
}

.aktual-three_parag{
  color: #000;
  text-decoration: none;
}

.aktual-three_parag:hover{
  color: #000;
  text-decoration: underline;
}
.section{
  display: flex;
  margin-top: 30px;
  margin-bottom: 60px;
}
.section-one{
  display: flex;
  width: 50%;
  align-items: flex-start;
  padding-right: 25px;
}
.section-one_link{
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.section-one_link:hover{
  color: #000;
  text-decoration: underline;
}
.section img{
  object-fit: cover;
  margin-right: 15px;
  margin-top: 15px;
}
.section-one_text{
  margin-top: -15px;
}
.section-one_parag{
  margin-top: 10px;
  font-size: 15px;
}
.section-one img{
  object-fit: cover;
  margin-right: 15px;
  margin-top: 15px;
}
.refresh{
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}
.refresh svg{
  cursor: pointer;
}
.refresh a{
  font-size: 16px;
  color: #000;
  text-decoration: none;
  font-weight: 700;
}
.refresh a:hover{
  color: #000;
  text-decoration: underline;
}
.footer{
  display: flex;
  width: 100%; 
  background-color: #262b30;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.footer a{
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.footer a:hover{
  color: #fff;
  text-decoration: underline #fff;
}
.onsakkiz{
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #f92828;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}
.onsakkiz a{
  position: absolute;
  left: 2px;
  top: 4px;
  text-decoration: none;
  color: #fff;
}
.onsakkiz a:hover{
  text-decoration: none;
  color: #fff;
}

.fas{
  color: #fff;
}

.scrollToTop-btn{
  z-index: 999;
  position: fixed;
  background: gold;
  color: black;
  width: 45px;
  height: 45px;
  right: 0;
  bottom: 10px;
  font-size: 22px;
  text-align: center;
  line-height: 45px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease
}
.footer span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  border: solid 1px #fff;
  border-radius: 50%;
}



 


@media(max-width: 1200px){

  .header__all{
    display: flex;
    justify-content: center;
  }
  .header__right{
    margin-bottom: 29px;
  }
  .header__left{
    display: flex;
    margin-top: 5px;
  }
  .header__link{
    font-size: 14px;
  }
  .header__left-searchBtn{
    margin-top: -5px;
  }
  .rekImages{
    width: 900px;
  }
  .sidebar{
    margin-top: 13px;
  }

  .all__detalies{
    justify-content: space-between;
  }
  .social__details{
    gap: 17px;
  }
  .social__net{
    display: none;
  }
  .edge__title{
    font-size: 18px;
    margin-top: 12px;
    margin-top: 6px;
    gap: 13px;
  }
  .edge__news-one{
    width: 250px;
    margin-top: 6px;
  }
  .sidebar__middle img{
    width: 484px;
    height: 287px;
    margin: 11px 11px !important;
    object-fit: cover;
  }
  .edge__news-one{
    width: 185px;
  }
}
@media(max-width: 1090px){
  .container{
    width: 70%;
  }
  .rekImages{
    width: 1002px;
    margin-top: 27px;
  }
  .header__all{
    display: flex;
    justify-content: center;
  }
  .header__items{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #0d6efd;
    transition: 0.5s ease;
  }
  .header__items a{
    font-size: 20px;
  }
  .header__item:nth-child(1){
    margin-top: 10px;
  }
  .closeMenu{
    position: absolute;
    display: block;
    right: 11px;
    top: 1px;
    color: #fff;
  }
  .openMenu{
    position: absolute;
    display: block;
    right: -13px;
    top: -20px;
    color: #fff;
  }
  .all__detalies{
    padding: 0;
    margin-top: -43px;
  }
  .middle__title{
    font-size: 19px;
  }
  .edge__news-one{
    width: 196px;
  }
  .header__left-searchBtn{
    position: absolute;
    left: 0;
  }
  .header__right .logo{
    display: none;
  }
}

  @media(max-width: 995px){
  .sidebar__all {
    margin-left: -142px;
  }
  .sidebar__middle img{
    margin: 20px 20px;
    width: 449px;
  }
  .sidebar__edge {
    margin-left: 54px;
  }
}

@media (max-width: 960px) {
  .rekImages{
    display: none;
  }
  .all__detalies {
    padding: 0 10px;
    flex-direction: column;
  }
  .social__details {
    display: none;
  }
  .sidebar__all {
    flex-direction: column;
    width: 100%;
  }
  .sidebar__edge{
    padding: 0 10px;
    width: 100%;
  }
  .edge__title{
    padding: 0 10px;
    font-size: 30px;
  }
  .edge__news-one{
    padding: 0 10px;
    width: 100%;
    font-size: 20px;
  }
  .sidebar__middle{
    padding: 0 10px;
    width: 100%;
  }
  .sidebar__middle img{
    width: 100%;
    height: 100%;
  }
  .middle__content{
    margin-bottom: 29px;
    margin-top: 29px;
    margin-left: 0;
  }
  .middle__title{
    padding-left: 16px;
    font-size: 23px;
    width: 100%;
  }
  .middle__title-bottom{
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
  }
  .middle__content p{
    font-size: 17px;
    margin-left: 5px;
    text-align: start;
  }
  .newspaper{
    max-width: 100%;
  }
  .all-newspaper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 22px;
  }
  .newspaper-header{
    padding-left: 10px;
  }
  .newspaper-titleParag p{
    font-size: 15px;
    margin-left: -15px;
    font-family: 'Montserrat';
  }
  .newspaper-line{
    margin-top: -2px;
  }
  .all-news_one{
    width: 100%;
  }
  .newspaper-titleParag p{
    font-size: 14px;
  }
  .news-reklama{
    padding: 0 10px;
  }
  .aktual{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .aktual-one{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aktual-two_img{
    width: 86px;
    height: 86px;
  }
  .aktual-one .edge__detailes{
    margin-bottom: 8px;
    margin-left: -337px;
    align-items: center;
    gap: 13px;
    margin-top: 7px;
  } 
  .aktual-one_link{
    position: relative;
  }
  .all-news_one{
    margin-top: 22px;
  }
  .all-newspaper{
    gap: 1px;
  }
  .newspaper-line{
    margin-top: 14px;
    margin-left: -26px;
  }
  .aktual-one_title{
    margin-bottom: 15px;
  }
  .aktual-one_link{
    font-size: 15px;
    margin-bottom: 19px;
  }
  .aktual-two_text{
    width: 100%;
  }
  .aktual-three{
    padding-bottom: 40px;
  }
  .interyuText{
    margin: 0 13px;
  }
  .aktual-three{
    gap: 18px;
    margin-top: 28px;
  }
  .section{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .section-one{
    width: 100%;
  }
  .section-one_text{
    margin: 0;
  }
  .footer-links{
    font-size: 12px;
  }
  .footer p{
    display: none;
  }
  .all__detalies {
    margin-top: -100px;
    margin-bottom: 20px;
  }
}
@media(max-width: 768px){
  .container{
    width: 768px;
  }
  .sidebar__edge {
    margin-left: 107px;
  }
  .sidebar__edge {
    margin-left: 107px;
  }
  .sidebar__middle img{
    width: 100%;
  }
  .sidebar__middle{
    margin-left: 50px;
  }
  .middle__title{
    margin-left: -20px;
  }
  .middle__title-bottom{
    text-align: start;
    margin-left: -10px;
  }
  .social__details {
    display: none;
  }
  .header__items{
    width: 100%;
  }
  .sidebar__all {
    margin-left: -99px;
  }
  .sidebar__middle{
    margin-left: 79px;
  }
  .sidebar__edge {
    margin-left: 92px !important;
  }
  .sidebar__middle img{
    width: 100%;
  }
  .middle__title{
    font-size: 18px;
    width: 100%;
  }
  .language{
    display: none;
  }
  .social__details p{
    display: none;
  }
  .gradusEndRegions{
    display: none;
  }
  .social__details img {
    display: none;
  }
  .sidebar{
    margin-top: -8px;
  }
  .aktual-three{
    margin-left: 0;
  }
  .news-banner{
    max-width: 750px;
  }
  .section{
    padding: 0 15px;
  }
  .all__detalies {
    margin-top: -100px;
    margin-bottom: 20px;
  }
}















